@media screen and (max-width: 1200px) {
  :root {
    font-size: 0.8em;
  }

  .main-section__create-meeting {
    display: flex;
    flex-direction: column;
    position: static;
  }

  .main-section__img {
    display: none;
  }

  .main-section__create-meeting_container {
    width: 100%;
  }
}

@media screen and (min-width: 1199px) {
  .main-section__create-meeting_container {
    width: 50%;
  }
}

* {
  box-sizing: border-box;
  font-family: system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.container {
  display: flex;
  max-width: 100vw;
  margin: 0;
}

.sidebar {
  background-color: #FCFCFC;
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__logo {
  justify-content: center;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.sidebar__logo_logo {
  width: 5rem;
}

.sidebar__logo_title {
  width: 11rem;
}

.sidebar__menu {
  margin-left: 2rem;
  padding-top: 0.5rem;
}

.sidebar__menu_item {
  margin-bottom: 2rem;
}

.sidebar__menu_item_title {
  font-size: 1.5rem;
  color: #415A77;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.sidebar-greytext {
  color: #828282;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-greytext_active {
  color: #415A77;
  font-weight: 700;
}

.sidebar__menu_option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

a:hover {
  cursor: pointer;
  color: #415A77;
  font-weight: 700;

}

.other-options {
  border-top: 1px solid #DDE7F1;
  ;
  border-bottom: 1px solid #DDE7F1;
  ;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-right: 1.2rem;
}

main {
  display: flex;
}

.main-section {
  width: 90%;
  margin-top: 3.3125rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

.main-section__title_greeting {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.main-section__title_name {
  color: #1F1F1F;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4.75rem;
}

.main-section__title_greeting-text {
  color: #FFA14E;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-section__create-meeting {
  display: flex;
  width: 95%;
  min-height: 40%;
  border-radius: 20px;
  border: 1px solid #BABABA;
  background: #FCFCFC;
  padding-left: 3rem;
  position: relative;
}


.main-section__create-meeting_container {
  /*width: 60%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-section__create-meeting_title {
  color: #1F1F1F;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0;
}

.main-section__create-meeting_text {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;

}

.main-section__create-meeting_button {
  width: 16.94rem;
  height: 3.56rem;
  border-radius: 8px;
  background: #1B263B;
  display: flex;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%
}

.main-section__create-meeting_button:hover {
  cursor: pointer;
  border: 2px solid #FFA14E;
}

.main-section__img {
  max-width: 50%;
  position: absolute;
  right: 0;
  bottom: -25%;
}

.main-section__patient-queue {
  margin-top: 3.125rem;
}

.main-section__patient-queue_title {
  color: #1F1F1F;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2.5rem;
}

table {
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  text-align: left;
  width: 100%;
}

th {
  background: #F9FAFB;
  color: #6B7280;
  padding: 1rem;
}

td {
  padding: 1rem;
  font-size: 1.125rem;
  border-bottom: 1px solid #E5E7EB;
}


.doctor-dashbord__table_btn {
  width: 9.1875rem;
  height: 2.3125rem;
  border-radius: 8px;
  background: #1B263B;
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}


.modal__create-meeting {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 600px;
  min-width: 500px;
  min-height: 50%;
  max-height: 80%;
  border-radius: 1.25rem;
  border: 2px solid #A8A8A8;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 2%;
}


.modal__close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 90%;
  top: 2%;
  margin: 2%;
}

.modal__close-btn:hover {
  cursor: pointer;
  border: 2px solid #B6B6B6;
  border-radius: 3px;
}

.modal__main {
  padding: 7%;

}

.modal__icon {
  width: 6.0625rem;
  height: 6.0625rem;

}

.modal__title {
  color: #415A77;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.modal__text {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 3%;
  margin: 0;
}

.modal__buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;

}

.modal__agree-btn {
  border-radius: 8px;
  border: none;
  width: 45%;
  min-width: 200px;
  max-height: 57px;
  background: #415A77;
  padding: 12px 20px;
  gap: 8px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.modal__agree-btn:disabled {
  background: grey;
}

.modal__agree-btn:disabled:hover {
  background: grey;
  border: none;
}

.modal__agree-btn:hover {
  cursor: pointer;
  border: 2px solid #FFA14E;
}

.modal__cancel-btn {
  border-radius: 8px;
  border: none;
  width: 40%;
  max-height: 57px;
  background: #B6B6B6;
  padding: 12px 20px;
  gap: 8px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 45px;
}

.modal__cancel-btn:hover {
  cursor: pointer;
  border: 2px solid #FFA14E;
}

.modal__create-meeting_form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 600px;
  min-width: 500px;
  min-height: 50%;
  max-height: 80%;
  border-radius: 20px;
  border: 2px solid #A8A8A8;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 82px;
  padding-left: 45px;
  padding-top: 33px;
}


.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
  margin-top: 5%;

}

input,
select {
  width: 400px;
  height: 40px;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  color: #1B263B;
  border-radius: 10px;
  border: 1px solid #415A77;
  background: #F5F5F5;
  margin-bottom: 20px;

}

label {
  align-self: flex-start;
  padding-bottom: 0;
  margin-bottom: 8px;
  font-size: 1.25rem;
  color: #415A77;
}

.error-message {
  font-size: 20px;
  color: red;
}