/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap&family=Roboto:wght@400;500&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Patient Registration Page */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 1420px;
  height: 100vh;
  background: linear-gradient(to right, #FFFFFF 51%, #F5F7F9 49%);
}


/* Basic styles for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.header-logo {
  width: 250px;
  height: 79px;
  margin-left: 55px
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  margin-right: 40px;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;

  padding: 8px 39px;
  border: 1px solid #1B263B;
  border-radius: 8px;

  text-decoration: none;
  color: #FFF;
  background-color: #1B263B;
}

nav ul li a:hover {
  background-color: #415A77;
  border: 1px solid #415A77;

}

/* Styles for main section */
main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 45px;
}

.registration-form--title {
  font-size: 48px;
}

.registration-form--descr {
  font-size: 17px;
  max-width: 600px;
  padding-bottom: 27px;
}

.registration-form form {
  display: flex;
  flex-direction: column;

  width: 475px;
  margin-left: 70px;
}

.registration-form label {
  margin: 10px;
}

.registration-form input {
  max-width: 450px;
  padding: 11px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #F5F5F5;
  margin-bottom: 10px;
}

.error-message {
  font-size: 16px;
  font-weight: 600;
  max-width: 500px;
  overflow-wrap: break-word;
}

.form-btn {
  font-size: 17px;
  width: 250px;
  margin: 30px 110px 0;

  padding: 10px 20px;
  border: 1px solid #1B263B;
  border-radius: 10px;

  cursor: pointer;
  color: #FFF;
  background: #1B263B;
}

.form-btn:hover {
  background-color: #415A77;
  border: 1px solid #415A77;

}

.login-info {
  margin: 30px 140px 0;
}

.login-info span {
  font-weight: 700;
  color: #1B263B;
  text-decoration: underline #1B263B;
}

.quote-section {
  margin-top: 25px;
}

.quote-section img {
  max-width: 100%;
  height: auto;
}

.blockquote {
  text-align: center;
  margin-top: -20px;
}

.blockquote::before {
  content: '';
  display: block;
  width: 62px;
  height: 49px;

  position: relative;
  left: -50px;
  top: 20px;

  background-repeat: no-repeat;
  background-image: url(/images/quotes1.svg)
}

.blockquote::after {
  content: '';
  display: block;
  width: 62px;
  height: 49px;

  position: relative;
  left: 465px;
  bottom: 110px;

  background-repeat: no-repeat;
  background-image: url(/images/quotes2.svg);
}

.quote-descr,
.quote-footer {
  font-size: 20px;
  width: 400px;
  margin: 0;
  padding-left: 30px;
}

.quote-footer {
  margin-top: 20px;
}

.password-info {
  text-align: end;
  color: #1B263B;
  margin-bottom: 0;
  cursor: pointer;
}

.password-info a {
  text-decoration: none;
  color: #1B263B;
}

#notificationDiv {
  display: none;
  font-weight: 600;
  text-align: center;

  color: red;
  cursor: pointer;
}

.password-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 67%;
  transform: translateY(-50%);
  cursor: pointer;
}