/* Fonts: */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap&family=Roboto:wght@400;500&display=swap");

/* стили для homepage начало */

/* styles for homepage's header */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 1420px;
  height: 100vh;
  background: linear-gradient(to right, #ffffff 51%, #f5f7f9 49%);
}
main {
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.homepage_upside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 83rem;
}

.upside_right_nav {
  margin-left: 20%;
  margin-top: 5%;
}

.left_header-logo {
  width: 24rem;
  height: 5.6rem;
  margin-left: 10%;
  margin-top: 5%;
}

.upside_right {
  background-image: url("../images/designer_1.svg");
  width: 100%;
  height: 80%;
}

.upside_left_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: Roboto;
  width: 40rem;
  height: 27rem;
  margin-top: 30%;
  margin-left: 10%;
}

.content_HealthLink {
  font-weight: 500;
  font-size: 4.6rem;
  line-height: 4.6rem;
}

.content_text,
.mission_text,
.samthing1_text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2/6rem;
  color: rgba(80, 95, 152, 1);
}

.homepage_downside {
  width: 100vw;
  height: 117rem;
}

footer {
  width: 100vw;
  height: 23vh;
  background-color: rgba(27, 38, 59, 1);
}

.downside_about {
  width: 100vw;
  height: 53rem;
}

.downside_buy {
  width: 100vw;
  height: 65rem;
}

.about_all {
  width: 108rem;
  height: 15rem;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr;
  margin: auto;
}

.about_all_leftSide {
  grid-area: 1/1/2/2;
}

.about_all_rightSide {
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: 1fr 1fr;
}

.mission_title {
  font: Roboto;
  font-weight: 500;
  font-size: 2.6rem;
  width: 64rem;
  height: 15rem;
  grid-area: 1/1/2/3;
}

.about_all_samthing1 {
  grid-area: 2/1/3/2;
}

/* .about_all_samthing1.1 {
    grid-area: 2/2/3/3;
  } */

.samthing1_title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.7rem;
}

.samthing1_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(111, 124, 178, 1);
}

.samthing1_icon {
  width: 4.5rem;
  height: 4.5rem;
}
/* стили для homepage конец */
